/*
Think carefully about which properties should apply to table, to tr, to td, and to th. 
To get the alternate row colors, you'll need to apply a class to every alternate row, then set a background-color for this class. 
To text-align the second column, I used the 'last-child' pseudo-element; it's easier than setting a new class for every one of those td element. Look it up.
*/

h3
{
	color: #993738;
	text-align: center;
	font-family: "Trebuchet MS";
}

#text
{
	font-family: "Trebuchet MS";
}

table
{
	border: 1px solid #993738;
	margin: 20px auto 0px;
	border-collapse: collapse;
}

th
{
	color: white;
	background: #993738;
	text-align: right;
	width: 100px;
}

td
{
	border: 1px solid #993738;
}

.gray
{
	background-color: LightGray;
}

#region
{
	text-align: left;
	width: 250px;
}

.percentage
{
	text-align: right;
}